/* CSS Document */
.comentario{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color:#666666;
}

.texto{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.cabecera{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
}

.titulo{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:bold;
}

