/* CSS Document */
.comentario{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color:#666666;
}

.texto{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.cabecera{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
}

.titulo{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:bold;
}
.Estilo2{color: #000000; }
.Estilo5 td{
	font-size: 36px;
	font-weight: bold;
	color: #FFFFFF;
}
Estilo6 {
	font-size: 18px
}

